[2012-08-16 10:31] clefebvre opened #1 "Don't rely on gsettings"
Hi Rjanja,

One of the big issue here, not only for this particular applet but also many other ones, is that it relies on using its own gsettings schemas. This means the user has to "install" it and requires sudo privileges.

You're probably aware of our discussions regarding csettings, but until this is ready, we're exploring a more pragmatic approach.. one that should work RIGHT NOW :)

In consi

[2012-08-24 23:46] rjanja opened #2 "Show instructions overlay where applicable"
Only really needed for Cinnamon UI and Area selection modes at this time

[2012-08-27 15:50] #1 closed, assigned to rjanja

[2012-11-23 15:38] Cobinja opened #3 "Settings Dialog doesn't save all settings"
The settings dialog doesn't save 'recorder-save-prefix' and 'camera-save-prefix' to settings.json.

[2012-11-23 17:49] #3 closed, assigned to nobody

[2013-01-20 17:40] #2 closed, assigned to rjanja

[2013-02-22 17:19] LunaticoCR opened #5 "Screen Recording Not Working"
Installed on LM14 32-bit.
Cinnamon 1.6.7

The screen recording feature doesn't seem to be working.

If I have 'Cinnamon Recorder' selected under setting I see the red icon and progress bar on the bottom right of the screen but once I click Stop recording I don't see the file been generated.

If I have 'FFmpeg' selected under setting nothing seems to happen when I hit record.

Please let me know wh

[2013-02-25 11:09] LunaticoCR opened #6 "Files not created if save folder doesn't exist"
The default save folders of the applet are ~/Pictures/screenshot and ~/Videos/screencast which are not standard folders and in some (most) cases the user will not have these folders.
If the user tries to take a screenshot it looks like it's done it but the screenshot file is nowhere to be found. Similarly, if the user tries to record, nothing happens at all.
The application should either stick wit

[2013-02-25 11:14] LunaticoCR opened #7 "Browse button has ,, characters"
The Browse button on the Screenshot and Recorder tabs of the Capture Settings window seems to have some leftover ,, characters.
![screenshot_area_2013-02-25_11:09:32](https://f.cloud.github.com/assets/2124383/191536/711a70e6-7f3c-11e2-8aaa-ba607851993c.png)

[2013-02-25 11:17] LunaticoCR opened #8 "Save to field not editable"
The 'Save to:' field on the Screenshot and Recorder tabs of the Capture Settings is a text field but it's not possible to edit it manually. It would be nice to make this field editable so that tha user can type in or even copy/paste on it.

[2013-02-25 11:18] LunaticoCR opened #9 "No file extension on screenshot files"
The screenshot files are missing the .png file extension.
For now I've worked around this by putting this on the prefix section: screenshot_%TYPE_%Y-%M_%D_%H:%I:%S.png

[2013-02-25 11:20] LunaticoCR opened #10 "Screen screenshot grabs applet menu when timer is off"
If the timer is off and the user do a screen screenshot, the applet menu is included on the screenshot image. I think it should take a screenshot without the applet menu.
If the timer is on it's all good.

[2013-02-25 11:21] LunaticoCR opened #11 "Window screenshots are just black"
All Window screenshots generate just a black image.

[2013-02-25 11:22] LunaticoCR opened #12 "Multiple instances of Capture Settings window allowed"
It is possible to open multiple instances of the 'Capture Settings' window. Only one instance should be allowed.

[2013-02-25 11:23] LunaticoCR opened #13 "Leftover test files"
Seems like there's some test files left over on the applet zip file.

[2013-02-25 11:24] LunaticoCR opened #14 "Recommendation for default file name"
Can I recommend this file names as defaults?

Screenshot: screenshot_%TYPE_%Y-%M_%D_%H:%I:%S
Screencast: screencast_%Y-%M_%D_%H:%I:%S

[2013-02-25 19:37] #5 closed, assigned to nobody

[2013-02-25 20:14] rjanja opened #15 "Add indicator when custom recorder is running"
Would be good to know a background task is running. Changing the icon slightly (red dot) would probably be acceptable, but only for when the colored icon is in use.

This would depend on monitoring the spawned process, and could also introduce dynamic "start" and "stop" custom options, the latter being able to terminate by process ID instead of by name, each with conditional visibility.

[2013-02-25 20:25] #13 closed, assigned to nobody

[2013-02-25 20:26] #9 closed, assigned to nobody

[2013-02-25 20:40] #7 closed, assigned to rjanja

[2013-02-25 20:55] rjanja opened #16 "Add D-bus interface and external interactive launcher"
This would allow for binding a hotkey to the launcher, showing better previews along with more options for what to do post-capture (open folder, copy something to clipboard, upload to imgur, etc).

The current interactive mode is more of a hack and needs to be replaced.

[2013-02-26 00:25] #8 closed, assigned to rjanja

[2013-02-26 00:47] #6 closed, assigned to rjanja

[2013-02-26 02:22] #10 closed, assigned to rjanja

[2013-02-26 20:04] #15 closed, assigned to rjanja

[2013-02-26 20:07] #14 closed, assigned to nobody

[2013-09-02 09:19] imarkskinner opened #17 "Add option to record system sound instead of from microphone"
It would be nice to have a toggle for the desktop recorder that switches between recording sound from the input device to recording sound from the output, so anything I would normally hear through my speakers will record straight onto the video without capturing any background distortion through the speakers

[2013-09-12 07:50] jonbrett opened #18 "Port settings to Cinnamon 1.8 settings API"
As title it would be nice if the applet settings used the new(ish) Cinnamon 1.8 settings API, since it would
1. Make the settings form more consistent with the rest of the desktop
2. Allow settings to be preserved across applet updates
3. Reduce the code size (no need to include code to draw settings form etc).

[A good starting point for understanding the Cinnamon settings API](http://segfault.li

[2013-09-12 07:55] jonbrett opened #19 "Add shortcut keys"
As mentioned on the [cinnamon spices page](http://cinnamon-spices.linuxmint.com/applets/view/96) adding shortcut keys for start/stop record would be great.

The cinnamon settings API has in-built support for assigning key-strokes and the settings example code (in the [cinnamon source](https://github.com/linuxmint/Cinnamon/blob/master/files/usr/share/cinnamon/applets/settings-example%40cinnamon.org

[2013-09-13 11:19] niterain opened #20 "recorder indicator on icon is on, no way to turn it off."
I click to record my desktop, the indicator light in the icon is on, however, when going back to the menu, I only see the "Start recording" option.  I check to see if any processes are running that might be connected to recording anything, but there are none found.

![screenshot from 2013-09-13 07 15 12](https://f.cloud.github.com/assets/16836/1137775/4ee6cd2c-1c66-11e3-932d-015afe6f2817.png)

[2013-09-15 04:34] #12 closed, assigned to nobody

[2013-10-21 13:39] plainas opened #21 "Interactive mode stopped working after latest fedora update"
I am running cinnamon on Fedora release 19 (Schrödinger’s Cat)

A couple of weeks ago I installed some system updates and since then the interactive mode hasn't been working properly. It just takes a screenshot, no window is presented to prompt me for actions after capture.

Where (how) can I fetch debugging/error messages so I can add them here?

[2013-10-21 14:17] slcpunk opened #22 "copy image data to clipboard option no longer works in newest cinnamon ( 2.0.2 ) under ubuntu 13.04"
This is the best screen capture and print screen applet - but the copy image data to clipboard stopped working for me when cinnamon updated last week.

[2013-10-21 17:20] #18 closed, assigned to nobody

[2013-10-21 17:21] #19 closed, assigned to nobody

[2013-10-22 07:28] orschiro opened #23 "Panel icon not showing up"
First of all thanks for applet. Also looking really forward to seeing Imgur support being implemented. Yet the applet does not work for me on Cinnamon 2.0. The icon does not turn up.

![](http://i.imgur.com/WSjeEDr.png)

[2013-10-23 06:31] #23 closed, assigned to nobody

[2013-10-23 17:45] orschiro opened #24 "Copy to clipboard function"
Often I only quickly want to make a screenshot and copy it to the clipboard instead of saving it into a file.

What do you therefore think of a `Save to clipboard switch` next to the `Include cursor` and `Use timer` switches?

[2013-10-26 13:50] orschiro opened #25 "Uploading to imgur.com - API access"
I know what this is an upcoming feature. What is the state of it at the moment?

Do you know of gnome-shell-imgur [1]?

Maybe you can use it as a basis for the required API access.

[1] https://github.com/OttoAllmendinger/gnome-shell-imgur/

[2014-02-03 23:37] Raymond01 opened #26 "Default paths not working and no sound on recorder"
Using Mint 16.

The default paths are not working.
(note double slashes for pictures)
(I did not have a folder called screenshots - was it going to make one or was I susposed to make one,)
~/Pictures/screenshots
tries to save to (from what it put in the clipboard)
/home/peter//Pictures/screenshots/screenshot-window-2014-02-03-174006.png
If I change it to
/home/peter/Pictures
it works

needed to ch

[2014-05-08 02:01] rcrath opened #27 "panel icon and menus missing"
LMDE, up to date. Desktop capture icon and regular menu does not show, although there is an empty space in the tray. right click gives option to configure the applet or remove it, both of which work normally, left click does nothing.  No menu.  Keyboard shortcuts still work.

[2014-05-25 04:34] jepst opened #28 "Needs update for Mint 17, Cinnamon 2.2"
The current version of desktop-capture does not work in Mint RC 17. Many features are broken. For example, the configuration window does not open, desktop recording does not work, and screenshots are not saved, even though a notification is sent that it was saved.

[2014-05-26 04:56] #24 closed, assigned to nobody

[2014-05-26 11:28] #28 closed, assigned to nobody

[2014-05-26 14:13] #21 closed, assigned to nobody

[2014-05-26 14:15] #11 closed, assigned to nobody

[2014-06-10 01:51] #25 closed, assigned to rjanja

[2014-06-10 01:53] #26 closed, assigned to nobody

[2014-06-10 01:54] #22 closed, assigned to nobody

[2014-06-10 01:54] #20 closed, assigned to nobody

[2014-06-10 01:56] #16 closed, assigned to nobody

[2014-06-10 01:57] #27 closed, assigned to nobody

[2014-07-13 05:51] Streakstar opened #29 "Suggestions for new options"
Sorry if I should be suggesting all of these as individual issues.
I saw this applet and had to try it out, but there are a few options that I feel are strangely absent. I would mostly be using this applet to quickly take snapshots and upload to imgur so I can share them with friends online and I'm sure others use it this way as well.

-Save file? [Yes|No] Decides whether the screenshot will be sa

[2014-09-09 10:34] kandadaboggu opened #30 "How do I assign keyboard shortcuts to start/stop screen recording?"
I didn't find any options in the configuration screens.

[2014-09-14 16:31] as3boyan opened #31 "When I press Upload button nothing happens"
When I press Upload button nothing happens. When I enable toggle - it gets disabled again when I capture Window

[2014-11-04 05:41] crydalch opened #32 "Keybinding to stop gtk-recordmydesktop/ffmpeg?"
I love this applet! I'm always needing to take screenshots and grab video snippets! Thank you for combining screenshots and recordings into one applet!

One of the few things I wish is a keybinding to stop a recording with recordmydesktop. Would that be possible? Or perhaps, make it so we could Ctrl+Click the applet icon, to stop any running recordings? I understand it's not possible for the cinna

[2014-11-04 05:48] crydalch opened #33 "Add byzanz-record as a recorder"
Could the applet be extended to support byzanz-record? Coming from Gnome 2, the byzanz Gnome panel applet is incredibly useful to record quick and dirty gifs for emails, teaching, bug reports, etc... and it'd be great if this applet could support that as well.

I tried adding it to the support.json file, but I have no idea what I'm doing, and was mostly hoping it'd "just work". But it didn't...

T

[2014-11-04 17:43] #29 closed, assigned to nobody

[2014-11-05 04:39] #33 closed, assigned to rjanja

[2014-11-09 12:20] davcri opened #34 "Keybinding works only after Cinnamon restart"
On _Linux Mint 17_ I noticed that changes to the keybindings work only after Cinnamon restart.
If this behaviour can't be changed, it would be better to put an advice in the applet configuration menu :smile:

[2014-11-09 12:29] davcri opened #35 "Backspace doesn't clear keybinding"
In the applet settings this informative text appears on hover :

![screenshot](http://imgur.com/F7Ft1vw.jpg)

Pressing backspace will result in quitting desktop-capture menu and coming back to the main Cinnamon settings menu.

[2014-12-29 00:35] #34 closed, assigned to rjanja

[2014-12-29 00:45] #35 closed, assigned to nobody

[2015-01-01 22:03] rjanja commented on #32
Hi, thanks for the feedback. I've gone ahead and added in a custom keybinding for stopping the current recording. It'll be at the bottom of the settings. If the cinnamon recorder is used it will toggle start/stopping recording. For other recorders like RecordMyDesktop and FFmpeg, because there may be multiple recording options, it doesn't try to choose one to start. I'll revisit this later because

[2015-01-01 22:03] #32 closed

[2015-01-01 22:04] rjanja commented on #31
This is fixed with the latest update - 1.01 - available on Spices and direct from Github. Thanks for the feedback!

[2015-01-01 22:04] #31 closed

[2015-01-01 22:07] rjanja commented on #30
I've added this feature in for #32 - it works slightly differently depending on whether you're using the built-in recorder (starts/stops) or custom recorder e.g. FFmpeg (only stops). I'm not modifying the Cinnamon shortcut but providing an applet-specific one. Let me know if you run into any problems with it. The updated applet is version 1.01 and available on Spices or direct from Github. Thanks,

[2015-01-01 22:07] #30 closed

[2015-01-02 14:18] as3boyan commented on #31
Thanks

[2015-01-03 03:40] crydalch commented on #32
This is great, and works perfectly! Thanks so much!

[2015-04-23 16:55] isleshocky77 opened #36 "Support using Kazam"
It would be nice to support using Kazam as a Screencast and Screenshot program.

https://launchpad.net/kazam

[2015-04-25 00:25] rjanja commented on #36
Hi, thanks for the feedback. I've looked at Kazam in the past but just installed it and there are limited options for controlling it from this applet. I can still add some basic support if desired, but I'm more interested in why you'd like to use this applet with it or what you like most about Kazam.

Thanks!

[2015-04-25 00:38] isleshocky77 commented on #36
I would prefer just using Cinnamon Recorder so I didn't have to install anything extra; however, it is segfaulting for me and I didn't have time to track down why or how to fix it.  I tried the other recorders which you integrate and none of them seemed to work as well as Kazam

[2015-04-25 00:47] rjanja commented on #36
Thanks @isleshocky77 I appreciate the feedback. Sorry that C-R is not working, it's part of Cinnamon so the only recommendation I can make there is to verify/reset your gstreamer pipeline. You can do this by running `dconf-editor`, then finding the `pipeline` key in org.cinnamon.recorder. If it's not blank, you could try blanking it out. If after restarting Cinnamon (save your docs, then Alt+F2, '

[2015-08-01 18:34] crydalch opened #37 "Add a 'Repeat Last' button/hotkey option to the menu"
This is hands down, the most useful applet for taking screen-shots that I've ever used. Nothing else compares, you've really done a fantastic job!

One feature that would make it even better is a **Repeat Last** command, where it would let you re-do taking a screenshot of the last area/region or window (including the timer countown), as if you'd clicked it again. The biggest use case I'd love it f

[2015-08-04 21:48] rjanja commented on #37
Hi @crydalch, thanks for your feedback. Hands down the most positive comments received :-).

The *Repeat Last* feature you mention is already implemented when using the built-in capture tool, except it is named *Redo* in the menu. After considering it, I think "redo" is a bit of a misnomer, as it doesn't replace the last capture, but takes a new one with the same parameters. So I will proceed with

[2015-08-04 23:44] crydalch commented on #37
Yep, nearly everything I've wanted in a screenshot/recording tool either already exists, or is being talked about in these comments :) If only the cinnamon-recorder were

Oh my gosh, I can't believe I didn't see *Redo Last* right there in the menu! Yes, I'm using Cinnamon Screenshot, so this is perfect. I think giving it the new label, and a hotkey, would be super cool! Thanks @rjanja !

How cumbe

[2015-08-05 00:53] rjanja commented on #37
@crydalch I've bumped the version to 1.02 with the Repeat Last hotkey support. Give it a try and let me know if you have any troubles.

Re: recorder support, I have a work in progress (unpublished) for redoing the custom recorder commands, mainly to make it possible to have different toggle switches and controls per recorder program instead of trying to fit them all into a single scheme. The recor

[2015-08-05 00:55] rjanja commented on #36
Kazam support added in 0f62aa98cb528be1ec7f42e958d3b01190bd34b1

[2015-08-05 00:55] #36 closed

[2015-08-05 00:59] crydalch commented on #37
You're too fast @rjanja! Okay, I updated, and interestingly, the *Redo Last/Repeat Last* option has disappeared from the menu. I do see the new hot-key, and that works great! Was the menu removal on purpose, because of the hotkey? Even though the menu is starting to get long, I feel that others more observant than myself might discover the feature more quickly if it's there.

Great news about the

[2015-08-05 01:02] crydalch commented on #37
Okay spooky - it's there now. I should have taken a screenshot, because now I'm worried I've lost my mind. Yeesh...

Thanks @rjanja stellar job!

[2015-08-05 01:02] #37 closed

[2015-08-21 04:36] crydalch opened #38 "Hotkey as Tooltip for Menu Options"
I find I forget the hotkeys, since I generally just use the menu itself to stop a recording. And it got me thinking: it'd be hefpful if the hotkey would pop up as a tooltip after 1.5-2 seconds of hovering over a menu item (if it has a hotkey associated with it).

I don't know if that's even an option, but something that'd be nice in the future!

Thanks!

[2015-09-13 19:43] RoldanLT opened #39 "Icon on system tray much larger compare to usual icons"
and I don't see any options to re-size it, to make it smaller and similar size by other icons.
![Icon on system tray much larger]
(http://i.imgur.com/zI01UsU.png)

[2015-09-15 19:55] conrado opened #40 "unable to upload to imgur"
Hi, having some issues uploading to imgur, currently digging into how cinnamon applets work.

here's an .xsession-errors excerpt

    JS ERROR: !!!   Exception was: Error: Unable to construct boxed type Buffer since it has no zero-args <constructor>, can only wrap an existing one
    JS ERROR: !!!     message = '"Unable to construct boxed type Buffer since it has no zero-args <constructor>, can on

[2015-09-15 22:05] rjanja commented on #40
Hi,

What version of Cinnamon are you running?

[2015-09-15 22:42] rjanja commented on #39
Hi,

What is the height of your panel? (In Cinnamon Settings.) I will check this out.

For now you might go into the Desktop Capture applet settings and turn on the option to use the "symbolic" icon, it will appear much more like the standard icons.

[2015-09-15 22:44] rjanja commented on #38
Hi,

I agree, this would be a helpful addition. I will look into it. Thanks for the feedback!

[2015-09-15 22:59] RoldanLT commented on #39
My panel height is the default for 17.2.
 Ow, that symbolic settings is great. all fine now :).

[2015-09-16 14:00] conrado commented on #40
Cinnamon 2.2.16

[2015-09-18 00:08] #38 closed

[2015-09-18 00:13] rjanja commented on #38
@crydalch I've posted an updated 1.03 with support for displaying hotkeys. Thanks for the great feedback and let me know if you have any questions or problems with this!

![screenshot-cinnamon-2015-09-17-171037](https://cloud.githubusercontent.com/assets/164802/9949210/5bb67c96-5d5f-11e5-98de-687c5c3d8610.png)

[2015-09-18 02:54] rjanja commented on #40
Hi,

I haven't been able to reproduce this on my end. Can you give me some more information about what distro you're running, its version, etc. The more the better. I can then attempt to virtualize another installation and see if I can find a problem here.

[2015-09-18 02:56] crydalch commented on #38
Aha! That's wonderful, so helpful! Thanks for adding it!

[2015-09-18 04:12] rjanja commented on #39
Great to hear it. I've added a new icon that will scale properly, however it won't appear until the next minor version. Between that and the symbolic workaround, I'm going to close this. But let me know if you have any questions. Thanks for the feedback!

[2015-09-18 04:12] #39 closed

[2015-09-18 07:58] zagortenay333 opened #41 "About dialog no used"
Would be cool if you populated the about dialog with some infos. Amazing applet!

[2015-09-18 08:02] zagortenay333 opened #42 "Toogles alignment in the popup menu"
They look pretty weird the way they are aligned. They should be positioned on the far right.

[2015-09-18 09:04] zagortenay333 opened #43 "Stylesheet inline comments"
Could you please throw in some comments in there. It looks like some of those selectors seem to be unused. E.g., `.tmp`, `.option-label`, `.label-group`, etc..

[2015-09-18 14:41] rjanja commented on #41
Thanks for the feedback, I wasn't aware there was now support for an "About" dialog. I'll add support for it today!

[2015-09-18 14:43] rjanja commented on #42
I didn't try this with other themes..oops. It just "worked" on the current theme, and I didn't see an immediate need to force alignment since that could make RTL display even wonkier.

I'll test out some additional themes today.

[2015-09-18 14:44] rjanja commented on #43
Haven't given this enough attention. EOD today :-)

[2015-09-18 14:58] zagortenay333 opened #44 "Status text in popup menu"
The status text in the popup menu uses a custom selector (`.menu-context`) which really isn't necessary, Best would be to borrow the corresponding style from the popup-menus.

This way it will blend in better

[2015-09-18 15:03] zagortenay333 commented on #42
On my Tertia theme:
![selection_003](https://cloud.githubusercontent.com/assets/11144630/9962648/1da2bdfc-5e27-11e5-9d85-c81b1876ca76.png)

[2015-09-18 15:25] rjanja commented on #44
I couldn't find a built-in selector to use which would serve as a detail or context or status label, shaded appropriately. I could remove this selector but then the hotkey will display in the same format as the rest of the menu item. Which style do you recommend?

[2015-09-18 15:31] zagortenay333 commented on #44
I actually think they have an element for that; you can see it in the network applet when it says _connecting_ or _cable unplugged_.
It uses the `.popup-inactive-menu-item` selector.

Also the battery applet uses for the _Fully charged_ text.

[2015-09-18 15:50] rjanja commented on #44
That gives it a lot of boldness. Maybe it's just my theme though.

![screenshot-cinnamon-2015-09-18-084955](https://cloud.githubusercontent.com/assets/164802/9963891/5156d97a-5de2-11e5-8005-c0b95f1d26f8.png)

[2015-09-18 16:17] conrado commented on #40
Hey,

I was using Linux Mint 17 Qiana, I upgraded to 17.2 Rafaela and uploading was successful.

Thanks!

[2015-09-18 16:29] rjanja commented on #40
Hi, great to hear it. Thanks for updating this ticket - let me know if you run into any other problems!

And it may not be clear or obvious, but there should be an imgur.log in your screenshot directory that stores each imgur URL and delete link in the event you capture something by mistake and want to remove it from the internets.

[2015-09-18 16:29] #40 closed

[2015-09-18 16:55] #41 closed

[2015-09-18 16:55] rjanja commented on #42
Fixed in latest 1.05

[2015-09-18 16:55] #42 closed

[2015-09-18 16:56] rjanja commented on #43
Fixed in latest 1.05. Unused styles have been removed and a couple of others have been renamed more appropriately. Let me know if you have any questions!

[2015-09-18 16:56] #43 closed

[2015-09-18 17:25] zagortenay333 commented on #44
I made that theme. Yeah it's the theme's fault.

[2015-09-18 17:43] zagortenay333 commented on #43
Sweet! I added styles for my Tertia theme already. Will add for the other eventually as well.

[2015-09-18 17:43] zagortenay333 commented on #41
Nice!

[2015-09-18 17:43] zagortenay333 commented on #42
:+1:

[2015-09-18 17:54] rjanja commented on #43
Nice, looking over the CSS changes in your theme I'm excited to see how you've styled it. I'll check it out :-). Thanks for including support for this applet!

[2015-09-18 19:23] rjanja commented on #44
I can't find a better style to use so I'm going to continue with applet style. I'll revisit this sometime in the future and see if anything has changed.

[2015-09-18 19:23] #44 closed

[2015-09-18 19:52] zagortenay333 commented on #44
You mean you don't like how themes are styling it?

[2015-09-23 01:40] crydalch opened #45 "Hotkey helpers for alternate recorders are not displayed"
Hey @rjanja, I don't know how I totally missed this earlier, but it looks like the applet doesn't display the helpful shortcuts when using alternative recording backends like Byzanz or FFMPEG. Sorry I didn't catch this originally!

Thanks as usual for all the hard work, really appreciate it!

![screenshot-area-2015-09-22-213433](https://cloud.githubusercontent.com/assets/458856/10036226/619d931c-6

[2015-09-29 03:34] rjanja commented on #45
Hi, I've been mulling this over but haven't decided how best to support hotkeys for custom commands just yet. One problem is that there is no limit on how many custom recorder commands can be present, so "Record Window" in Byzanz could correspond to a different recording option in another recorder.

This is something I want to do, but I'm pretty sure will require rewriting the Settings again, this

[2015-09-30 00:53] crydalch commented on #45
Ah, yeah I can see that being trickier.

What about the generic Start/Stop Recorder Hotkeys? Could those be displayed on the appropriate line?

[2015-12-03 22:09] antifriz opened #46 "Cinnamon crashes while trying to capture screenshot"
After an update to Desktop Capture v1.05 when I am trying to capture screenshot, Cinnamon (v2.8.5) crashes with this log:

[code]

[2016-01-16 20:39] rjanja commented on #46
Hi, thank you for the report, I will be looking into this today.

[2016-01-30 01:54] USER762341 commented on #46
I'm having the same issue:

`Jan 29 19:51:19 XXXXXXXXXXXXXXXXXXXXXXXXX systemd-coredump[1929]: Process 1826 (cinnamon) of user 1000 dumped core.

                                                                  Stack trace of thread 1826:
                                                                  #0  0x00007fac91329e7d __strstr_sse2_unaligned (libc.so.6)

[2016-01-30 02:18] rjanja commented on #46
Thanks for the report. Can you give me your Cinnamon version, and which screenshot and video capture tool you're currently trying to use via this applet?

[2016-01-30 17:45] rjanja commented on #46
It would also help if you could include the snippet of `~/.cinnamon/glass.log` leading up to the crash. There should be some Desktop Capture specific details in there that will help me track this down.
Note this file is only created if "Log LookingGlass output" is enabled under Cinnamon's `Preferences -> General` tab.

[2016-01-30 17:52] antifriz commented on #46
[code]
this is mine ~/.cinnamon/glass.log

[2016-01-30 17:54] rjanja commented on #46
Thanks @antifriz, that's the start-up. When you go to make a capture, assuming it will crash again, it should have more entries in it that may point to the problem.

[2016-01-30 17:58] antifriz commented on #46
it just adds this line to log:
`info t=2016-01-30T17:55:24.102Z Initializing screenshot tool
`

[2016-01-30 19:20] rjanja commented on #46
Ok, thanks @antifriz. That's the built-in screenshot grabber. I'll take another look at it. Appreciate your feedback and patience.

[2016-01-30 20:34] rjanja commented on #46
@antifriz can you please try using the default screenshot tool that comes with Cinnamon and let me know if it works? It is in the menu under `Accessories -> Screenshot`

[2016-01-30 22:25] antifriz commented on #46
@rjanja the default one works fine

[2016-01-30 22:54] rjanja commented on #46
Oh jeez. The default tool should be using Cinnamon's capture backend similarly to how this applet uses it. In your initial report you said "after an upgrade to 1.05" - was the previous version working for you? Did you also do a system update?

I will put together another version that logs more verbosely, and hope that you'll have the patience to upgrade the applet and try it, and send those logs m

[2016-01-30 23:05] antifriz commented on #46
@rjanja I did a system update. This had already happened a few months ago and was fixed by system and/or desktop-capture update. But from this report till now neither update fixed this issue.
I will try new version and send you logs.

Also, looking again at logs, probably dumb idea but could this be a python-version-related issue?

[2016-01-30 23:45] rjanja commented on #46
It isn't likely a python issue. My guess is that it's related to desktop environment and display libraries. I haven't been able to cause a segfault here.

I'll put together a new version and let you know when it is ready. It'll be 1.06. Though it won't change anything it may shed some light on where it's failing, if it's within the communication between applet and Cinnamon.

[2016-01-31 18:43] rjanja commented on #46
Hi @antifriz, I've been looking into this more and am fairly certain it is not an applet problem. The default screenshot tool in Accessories does not use the built-in Cinnamon screenshot code after all, but native X libraries instead.

The log entry you shared with me happens right before we ask Cinnamon to take the screenshot, and at that point it's out of the control of the Desktop Capture apple

[2016-01-31 21:52] rjanja commented on #46
I've submitted a patch to the dev team for the somewhat unrelated issue I mentioned above.

I've also found a way for you to verify if the problem is with Cinnamon or this applet. Please replace the path in this command with a path to an image which doesn't exist on your system, and see if it is created.
`dbus-send --print-reply --type=method_call --dest=org.Cinnamon /org/Cinnamon org.Cinnamon.Eva

[2016-02-01 19:33] antifriz commented on #46
Hi @rjanja,
sorry for delay, i tried the upper command (and I replaced the path with my custom path and crash happened again. It seems it's Cinnamon related.

[code]

Also to mention, I use Arch with Cinnamon.

[2016-02-05 01:44] USER762341 commented on #46
The command you posted above also crashes Cinnamon on my system, however I am using boring old i915:

`lshw -class video
  *-display
       description: VGA compatible controller
       product: Haswell-ULT Integrated Graphics Controller
       vendor: Intel Corporation
       physical id: 2
       bus info: pci@0000:00:02.0
       version: 0b
       width: 64 bits
       clock: 33MHz
       capab

[2016-03-08 00:43] zerog2k commented on #46
also having this crashing. Seems that it was working ok a few months ago with Fedora 21. Upgraded (inplace) a few weeks back.

$ sudo lshw -class video
  *-display
       description: VGA compatible controller
       product: G98 [Quadro NVS 295]
       vendor: NVIDIA Corporation
       physical id: 0
       bus info: pci@0000:01:00.0
       version: a1
       width: 64 bits
       clock: 33MHz

[2016-03-08 00:49] rjanja commented on #46
@zerog2k have you tried using the nvidia driver instead of nouveau?

I'm pretty sure this is a video driver or Cinnamon problem. While I'd like to help track it down I'm not sure there's much I can do.

[2016-06-17 13:54] amyers2301 commented on #46
I too am having the issue. The default screenshot works fine but the applet crashes Cinnamon. Running Fedora 23.

[2016-07-03 18:10] denegny opened #47 "Crash Cinnamon in Linux mint 18"
Install Mint 18
After capture Cinnamon crash

Cinnamon 3.0.6

[2016-07-07 19:44] imarkskinner commented on #47
Yeah same for me, crashes every single time. A work around is to change the screen capture program in the applets settings but for me all the others have quirks I don't like so hopefully this one gets fixed because I love this applet.

[2016-07-25 04:58] munhyunsu commented on #47
Same for me!

[2016-08-01 16:34] kartikgola commented on #47
No fix yet!

[2016-08-01 16:58] rjanja commented on #47
Considering that this is a problem with Cinnamon and not this applet, there is no easy way to trace down the error causing the crashing.

At the very least I would need a debug report of installed video drivers and what versions of Cinnamon and its dependencies you are running.

I would love to fix the crashing behavior you are seeing. You could file a ticket against Cinnamon if you like, as this

[2016-09-19 16:41] pepijol82 opened #48 "Imgur upload not work"
First of all I'm want thank you for your great applet.
It amazing and works well better than native ImgurUploader with Wine.

All works good with my Linux Mint 17.3 Cinnamon 2.8.8.

But not work Imgur Upload function.

Looking Glass tool show me error:

Please help me to fix this issue.

[2016-09-19 20:22] rjanja commented on #48
Hi, thanks for the report.

Imgur notified me some time ago that they were dropping support for the version of their API I used in this applet. After looking through their docs and reaching out to them a handful of times I came to the conclusion that there was not a simple replacement to keep things working the same way.

One alternative would be to ask the user to create an Imgur API account and

[2016-10-05 21:44] itzexor commented on #47
Partial trace as I don't have all the debug symbols. This is on cinnamon master:

[code]

[2016-10-05 21:47] itzexor commented on #47
Oops, I actually meant to put that on the Cinnamon issue not here. Sorry about that.

[2016-10-05 21:48] rjanja commented on #47
@itzexor thanks - if you could provide details of what graphics card and driver version you are running, that would be helpful to have alongside the segfault

[2016-10-05 21:58] itzexor commented on #47
For others following along, I responded here https://github.com/linuxmint/Cinnamon/issues/5524

[2016-11-13 12:42] leigh123linux commented on #46
Fixed in cinnamon-3.2.0

https://github.com/linuxmint/Cinnamon/pull/5777

[2016-11-13 12:43] leigh123linux commented on #47
Fixed in cinnamon-3.2.0

https://github.com/linuxmint/Cinnamon/pull/5777

[2016-11-17 23:15] graineri commented on #47
I'm having a similar issue in Cinnamon 3.2.1 using LMDE2. It does not actually crash but it looks as if it creates an overlay on the screens and the only place I can click on is the panel and clicking over the "Desktop Capture" menu does nothing.

The only way to get control back is by restarting Cinnamon. It used to work correctly until the last Cinnamon upgrade.

[2016-11-18 00:41] leigh123linux commented on #47
@graineri

Without a backtrace or logging your issue doesn't exist.

[2016-11-18 00:59] graineri commented on #47
I would be more than glad to provide anything that could be helpful.

Could you please point me out where I can find any desktop capture logs? (or at least, any other log or backtrace that can help here)

[2016-11-23 14:58] leigh123linux opened #49 "Totally kills cinnamon-3.2.x"
[code]

[2016-12-14 08:20] erdoking commented on #49
same here, using cinnamon 3.2.2 on OpenSuse Leap 42.2

I found out, that the "camera-save-dir" is wrong in ~/.cinnamon/configs/capture@rjanja/capture@rjanja.json!!

after changing  "value": "file:///tmp" to "value": "/tmp" and comment out line 369 in .local/share/cinnamon/applets/capture@rjanja/applet.js it start working again...

But the select-menu won't close. I have to restart cinnamon after t

[2016-12-20 05:45] rjanja commented on #49
Thanks for the reports. I'll be looking into this tomorrow and should be able to get a patch out soon.

[2016-12-27 20:19] rjanja commented on #49
Hi, I've pushed an update to this applet as 1.06 that should clear up the compatibility problems with Cinnamon 3.2. Could you please try it again and let me know if it resolves this problem? Thanks!

[2016-12-27 20:21] rjanja commented on #47
Hi, I've pushed an update to this applet as 1.06 that should resolve the compatibility problems with Cinnamon 3.2 (and possibly previous versions). Please let me know if this resolves the issue for you. Thanks!

[2016-12-27 20:22] #46 closed

[2016-12-27 20:34] rjanja opened #50 "Make applet appear as "safe""
Since the last major update to this applet, the Cinnamon Applet settings dialog was made to detect system calls being made within applets and to indicate that they may not be safe for users:
  https://github.com/linuxmint/Cinnamon/commit/382338254f59b5e98cfc168accf45429808e69ae#diff-c4641b580bb45b188c5ae94c7f7a33cfR1577

This applet uses such system calls to detect availability of screenshot tools

[2016-12-27 21:24] fggomes commented on #49
I've updated the code to 1.06 and the problem was resolved. Thank you, I love this applet.

[2016-12-28 01:57] rjanja commented on #49
Great, thanks for getting back to me so fast! Glad it's working for you again!

[2016-12-28 01:57] #49 closed

[2016-12-28 02:22] #50 closed

[2016-12-28 11:33] graineri commented on #47
Hi Rob!
Now the issue is gone. However, I cannot take screenshots and this is what I'm getting logged:
`info t=2016-12-28T11:29:35.580Z Save folder does not exist: /home/graineri/file:/home/graineri/Pictures/screenshots, aborting`

I tried changing the folder with no luck.

Thanks!

[2016-12-28 18:49] rjanja commented on #47
Hi @graineri, thanks for the feedback. I was able to reproduce that as well. I've pushed another update as 1.08. Could you update your local version of the applet and give it another try? Thanks!

[2016-12-28 18:58] graineri commented on #47
Hi @rjanja! Thanks for the quick response.

Now it works but only with the predefined screenshots location. If I change it, I get the same log message as before.

[2016-12-29 12:24] graineri commented on #47
Hi @rjanja! I'm not sure what I did wrong before but now it's working.

[2016-12-29 22:02] rjanja commented on #47
Oh that's great to hear @graineri! Thanks for the feedback!

[2016-12-29 22:02] #47 closed

[2016-12-30 18:43] zagortenay333 opened #51 "notification-with-image css selector not used"
Isn't this code supposed to add that selector:
https://github.com/rjanja/desktop-capture/blob/4cde330caa5bf2b15adc8c408bab9375ea8cc383/capture%40rjanja/applet.js#L163-L165

[2016-12-31 02:31] rjanja commented on #51
Yes. What theme are you testing?

[2016-12-31 10:44] zagortenay333 commented on #51
No need to test it with a theme, just use the looking glass. Also most themes don't make a distinction to be able to see it.
https://github.com/zagortenay333/ciliora-secunda-cinnamon

[2016-12-31 12:08] NikoKrause opened #52 "Show capture timer checkbox broken"
The "Show capture timer" checkbox seems broken.

EDIT: It means, that the timer is shown, no matter if the checkbox/switcher is checked or not.

[2016-12-31 12:21] NikoKrause opened #53 "Feature request: Make "Camera" and "Recorder" buttons useful"
If you click on the applet, the popupmenu opens.
In this PopupMenu there are two buttons "Camera" and "Recorder".
These buttons do nothing, when pressed.

I would suggest to open the Screenshot-Program and the Recorder-Program, which are set in the settings, with those buttons.

[2016-12-31 13:07] NikoKrause commented on #52
The ReadMe file wasn't updated 4 years. Maybe you can add "Compatible Cinnamon versions"?

Do you wanna add multiversion to your applet?
Since 3.0/3.2? it's possible to add Tabs/Pages to the settings. It would make the settings look cleaner and easier to find stuff. But it would break the applet for minor Cinnamon versions, that's why I suppose multiversion.
It you up for the idea, I can help you

[2016-12-31 17:19] rjanja commented on #52
I'm not sure how many people are using this applet on older versions if Cinnamon. I'd prefer to support all versions but only if it didn't require much more of an investment of time.

If you'd like to show me how multi version works that'd be great. One of the recent breaking changes I added was a setting of type `label` to `settings-schema.json`. I'd found out that undefined settings types crashe

[2016-12-31 20:49] NikoKrause commented on #52
If you add multiversion support, you don't have to support all versions.
You can if you want to. But you can also say you just support the new Cinnamo version and leave the old ones as they are. The benefit is that you can go and implement new features without having to break the applet for older versions with new updates.

Here is a quick tutorial: http://developer.linuxmint.com/reference/2.6/cin

[2016-12-31 23:49] #52 closed

[2017-01-01 01:11] #51 closed

[2017-01-01 01:16] rjanja commented on #51
Thanks @zagortenay333, I've corrected the code that *should* have been adding the CSS class.

Please note that this fix won't appear until release of 1.09, which has to wait until the Cinnamon Spices site is back up and available to applet authors. For now I can't upload any new versions.

Here is what this style looks like on stock Cinnamon theme. The 159px is the default from the `cinnamon.css`.

[2017-01-01 01:42] rjanja commented on #48
I think I have found a good way to do this and support imgur via oauth 2.0 from this applet. I'll do some experimenting and aim for a release towards the end of January.

[2017-01-01 01:47] rjanja commented on #53
The options listed for camera and recorder currently come from `support.json`, so we could do this by way of defining in that file a "default" command to run for any GUI-capable apps, and leave it unset and unused for non-GUI apps like the built-in screenshot and recorder which do not have interactive utilities.

[2017-01-01 09:49] zagortenay333 commented on #51
Nice, but how come you can't upload to spices? Didn't you update it just 3 days ago?

[2017-01-01 17:15] rjanja commented on #51
Yes. The Cinnamon Spices are themselves being migrated to Github for the purpose of undergoing code reviews before publishing. No applets can currently be updated, unfortunately. If you'd like I can drop a zip file somewhere for you.

[2017-01-01 17:18] zagortenay333 commented on #51
Oh.

Nah, I already installed. It work as it should now.

[2017-01-02 13:21] NikoKrause commented on #53
Sounds good.

[2017-01-02 13:24] NikoKrause commented on #52
With tabs I mean this: `Leiste` and `Menü`. E.g. open settings for the menu-applet on Cinnamon 3.2
![grafik](https://cloud.githubusercontent.com/assets/8415124/21589899/f3c2fe18-d0f6-11e6-90ab-b9ec2db364f2.png)

[2017-01-02 22:47] rjanja commented on #53
Support for this has been added in 9e3b32355ed2ff56d5b2ed8ea9ecf4091ba5c1c4 (1.09)

[2017-01-02 22:47] #53 closed

[2017-01-03 12:00] NikoKrause commented on #52
@rjanja
I'm working on a german translation of your applet.

Can you explain me the following strings:
1. Capture window as area
2. Include applied styles in UI capture

Maybe with examples.

I'll create a PR, when I'm finnished. Probably in 2-3 days.

[2017-01-05 00:32] NikoKrause opened #54 "Green Information Box too small and "generic" type in settings-schema"
Hey, while translating your applet I noticed a few things:

1. After pressing "Area", a green information box appears with informations about how taking screenshots. The box is too small. The last string says: "Press ENTER or KP_RETURN to complete the capture, or ..." It misses "or ESC to cancel". This gets worse with German translation, because Strings in German are longer.

2. You have "type": "

[2017-01-05 01:20] rjanja commented on #54
1.) This is a bug. I've seen it but haven't addressed it yet. I'd like to redo this screen to make it look a bit cleaner.

2.) The generic settings still exist because they were previously used by my own settings applet (before XletSettings existed). It looks like at least one or two aren't needed anymore, but I haven't removed them yet because I think I'll be moving back to a redesigned settings

[2017-01-05 01:21] rjanja opened #56 "Instruction box is too small"
From #54

After pressing "Area", a green information box appears with informations about how taking screenshots. The box is too small. The last string says: "Press ENTER or KP_RETURN to complete the capture, or ..." It misses "or ESC to cancel". This gets worse with German translation, because Strings in German are longer.

[2017-01-05 01:24] rjanja opened #57 "Reword descriptions for obscure settings"
From #54

"Include applied styles in UI capture"
"Whether to include CSS selection styles in Cinnamon UI screenshots"

"Capture window as area (suggested, or shots may be black or distorted)"
"Whether to use area selection for window captures"

[2017-01-05 01:27] rjanja commented on #54
I've created two separate tickets for the above problems, it's easier to address them independently.

[2017-01-05 01:27] #54 closed

[2017-01-05 01:28] rjanja commented on #56
(Instruction box is also used for multiple capture modes.)

[2017-01-05 01:30] rjanja commented on #54
Thank you for your work in doing the translation to German! Please feel free to open up as many additional issues as you find and I will try to help with the triage.

[2017-01-05 09:10] NikoKrause commented on #54
Thanks for answering so fast.
What about No. 5?

[2017-01-06 05:53] #57 closed

[2017-01-06 05:54] rjanja opened #58 "Opening directory from notification should select the screenshot"
In Nemo and Nautilus we can have the most recent screenshot appear preselected in the file manager window that we open up.

[2017-01-06 05:55] #58 closed

[2017-01-06 11:50] NikoKrause opened #59 "Timer for Cinnamon UI too soon"
When you use timer in "Area" capture, the timer starts after pressing Enter.
When you use timer in "Cinnamon UI" capture, the timer starts before showing the green info box. It would make more sense, if it would start after mouse click, so right before taking the actual capture.

[2017-01-06 14:40] rjanja commented on #59
This is a bit of a personal preference that I could make into a setting. When I use the UI capture, I like to have some time to change focus and open up any part of the UI that I am about to capture, so I use the timer to allow for that before it begins drawing selection masks and elements.

_Timer begins immediately in UI capture_
"Allows for changing focus and opening menus before selection mask

[2017-01-06 15:41] NikoKrause commented on #59
Ah okay. I didn't realize, that you can click UI during Timer-Countdown (I always waited till the green box appeared, to continue with the capture.)
But that's what SHIFT is for, not? You have all the time you want to open menus, when pressing SHIFT.

I'm not sure anymore, about how doing it the right way or even if a timer for UI is needed.

For me a timer is: 3...2...1...snap
But in this case, i

[2017-01-06 19:10] NikoKrause opened #60 "Multiversion Support and Settings Schema suggestion"
Hey,

I added multiversion support and changed the settings-schema in my branch https://github.com/NikoKrause/desktop-capture/tree/multversion-support

I did multiversion for Cinnamon >= 2.6.
I don't know if the applet works for Versions < 2.6
If yes, this can be added as well.

I didn't created a PR. First I wanted to give you a suggestion of how it can look like, so you can check it out.

Here a

[2017-01-06 19:16] NikoKrause commented on #59
Nevermind. I thought about it a little bit. This would be an overkill of options. It's fine as it is. I'm closing this issue.

[2017-01-06 19:16] #59 closed

[2017-01-08 02:33] #56 closed

[2017-01-10 02:13] crydalch opened #62 "Black box around the mouse cursor"
I've noticed the mouse cursor has a black box around it; is this an issue with Cinnamon, or with the desktop-capture applet? This is Mint 18.1, Cinnamon 3.2.7.

![screenshot-area-2017-01-09-210930](https://cloud.githubusercontent.com/assets/458856/21791382/58cc44f4-d6b0-11e6-8a46-7c1c4ac4dbfe.png)

Thanks

[2017-01-10 02:23] crydalch commented on #62
FWIW, with maim I don't see the blackbox:

![foobar2](https://cloud.githubusercontent.com/assets/458856/21791521/591c8634-d6b1-11e6-9d08-5084680ee027.png)

[2017-01-16 16:10] NikoKrause opened #63 "JS Warnings"
I see the following warnings:
[code]

[2017-01-23 05:31] rjanja commented on #48
The next major update will support anonymously uploading images to imgur, as well as authorizing the applet to upload images into an album in your account using an included helper application.

![screenshot-area-2017-01-22-212824](https://cloud.githubusercontent.com/assets/164802/22192561/e4aecb3e-e0e9-11e6-8396-52ff3a4be990.png)

![screenshot-window-2017-01-21-194953](https://cloud.githubusercont

[2017-01-25 02:06] #63 closed

[2017-01-25 02:10] rjanja commented on #62
Hi, thank you for the feedback. What is maim?
Does the cursor show a black box for you even when you don't use this applet to take a screenshot?

[2017-01-25 02:30] crydalch commented on #62
Hey! This is maim:[https://github.com/naelstrof/maim]( https://github.com/naelstrof/maim)

I don't see the box if I use gnome-screenshot -p from the commandline. How do I take a native cinnamon screenshot?

[2017-01-25 03:14] rjanja commented on #62
maim and gnome-screenshot both use X to take the screenshots. desktop-capture applet uses cinnamon for its screenshots.

I have been able to reproduce this when capturing the mouse cursor. This is a Cinnamon problem, for sure.

[2017-01-25 09:40] NikoKrause commented on #62
I can reproduce it.
![screenshot-cinnamon-2017-01-25-102748](https://cloud.githubusercontent.com/assets/8415124/22285069/6c2fd236-e2ea-11e6-9fc9-a439798d4adb.png)

Also I tried to take a screenshot of the whole desktop. The screen started flickering like crazy and I get a bunch of the warning below:
[code]

[2017-01-28 03:31] #48 closed

[2017-01-28 03:32] rjanja commented on #60
Thanks for the effort you put into this @NikoKrause. I've used that as a template and have added multiversion support and settings tabs. Cheers!

[2017-01-28 03:32] #60 closed

[2017-01-28 03:34] rjanja commented on #17
Closing this..albeit 3 years late. Something may already be possible using custom entries in the `support.json`.

[2017-01-28 03:34] #17 closed

[2017-01-28 23:12] crydalch commented on #62
Thanks guys, logged a ticket against Cinnamon. @rjanja, do you want to close this, or leave it open until it gets fixed upstream? I'm fine either way.

[2017-01-31 11:15] pepijol82 commented on #48
Thank you very much! It is the best gift to the Chinese New Year for me! :-)
You are my hero! :+1:

[2017-01-31 18:13] rjanja commented on #48
Thanks for the kind words @pepijol82 !
Hope you had a wonderful Chinese New Year! :-)
The new version is not published on Spices site yet, so if you have trouble getting it from Github let me know. Cheers!

[2017-02-03 17:54] rjanja commented on #62
I think we can close this. While I'd like to help hunt this down in Cinnamon, I just don't have the time these days. Thanks @crydalch

[2017-02-03 17:54] #62 closed

[2017-02-24 11:51] NikoKrause commented on #62
https://github.com/linuxmint/Cinnamon/commit/b9dc41846ddb5aedabf962c20acfc71aec46d5d5

[2017-03-11 13:28] Radek71 opened #66 "Czech translation"
@rjanja

There are attached file with Czech translation.
Thanks for very usefull applet.

radek
[capture@rjanja.po.zip](https://github.com/rjanja/desktop-capture/files/835784/capture.rjanja.po.zip)

[2017-03-11 18:04] #66 closed

[2017-03-11 18:07] rjanja commented on #66
Thanks for the Czech translation, Radek!

[2017-03-12 10:20] scasic opened #68 "Issues with recorder / ffmpeg"
Recorder does nothing on Cinnamon 3.2.7 / Linux Mint 18.1 Serena with ffmpeg specified as capture tool. There are no resulting files in configured folder.

Also on previous versions I was able to select capture area using mouse click and drag&down move, now it doesn't work. Only drag&up move makes an area selected.

[2017-03-12 17:19] rjanja commented on #68
Hi, thanks for the feedback. Can you please verify first that you have `ffmpeg` installed, and then let me know what version is installed? Due to the way Cinnamon Settings is designed, there is no easy way for my applet settings to detect which programs are installed, so they are all listed.

When you attempt to make a recording using ffmpeg, the actual command being run is logged to `~/.cinnamon/

[2017-03-12 20:57] scasic commented on #68
ffmpeg is installed, please see output of executed command which was taken from glass.log below:

ffmpeg version 2.8.11-0ubuntu0.16.04.1 Copyright (c) 2000-2017 the FFmpeg developers
  built with gcc 5.4.0 (Ubuntu 5.4.0-6ubuntu1~16.04.4) 20160609
  configuration: --prefix=/usr --extra-version=0ubuntu0.16.04.1 --build-suffix=-ffmpeg --toolchain=hardened --libdir=/usr/lib/x86_64-linux-gnu --incdir=/

[2017-03-13 03:05] rjanja commented on #68
Ok, could you please try this workaround:

1. Open up `support.json` in applet directory e.g. `~/.local/share/cinnamon/applets/capture@rjanja/3.2/support.json`
2. Find the `ffmpeg` recorder options towards the bottom
3. Remove `-qscale 1` from the three included commands
4. Reload Cinnamon (Alt+F2, "r", <ENTER>)
5. Try recorder again

If that works I can push an update. Thanks!

[2017-03-16 23:39] rjanja commented on #68
Hi, did that fix the problem for you?

[2017-06-23 20:47] guzzard opened #70 "error: redeclaration of let psCursorOn on Cinnamon 3.4.2"
when trying to load current git master version:

error t=2017-06-23T20:45:01.613Z redeclaration of let psCursorOn
trace t=2017-06-23T20:45:01.613Z
<----------------
Extension.prototype._init@/usr/share/cinnamon/js/ui/extension.js:155:13
Extension@/usr/share/cinnamon/js/ui/extension.js:116:5
loadExtension@/usr/share/cinnamon/js/ui/extension.js:449:25
onEnabledAppletsChanged@/usr/share/cinnamon/js/u

[2017-06-27 15:44] #70 closed

[2017-06-27 15:53] rjanja commented on #70
Hi @guzzard, thanks for your bug report. I've pushed an update which should correct it. If you have time to give it a try I'd appreciate your feedback.

Thanks again!

[2017-06-27 18:30] guzzard commented on #70
Hi @rjanja, I can confirm that it works great again, thanks! :+1:

[2017-06-27 19:33] rjanja commented on #70
Wonderful! Thanks for following up, @guzzard! 😎

[2017-06-27 19:34] #68 closed

[2017-06-28 06:29] guzzard commented on #70
Anytime! Thanks for your hard work on this great applet @rjanja ! :+1: :smiley:

[2017-06-29 23:05] TopView opened #71 "non-fatal error reported by cinnamon on dual screen setup"
In my Cinnamon Log when restarting cinnamon I see:

  "error t=2017-06-29T15:42:24Z Could not find setting key 'kb-cs-monitor-1' for applet/desklet uuid capture@rjanja" .

My system is Debian stretch (just upgraded from Jessie) on a HP laptop with 1 extra slightly larger screen plugged into the video port.

Only get this error if booting up w/ both screens.  If just laptop screen then no error.

A

[2017-07-03 18:20] rjanja commented on #71
Hi @TopView, thanks for the bug report. It looks like the code is trying to work with applet settings that just don't exist (hotkeys for monitors after the primary, so 2+). The idea originally was that per-monitor hotkeys could be defined, and then I think I abandoned that approach as it was going to clutter up the settings where there's no way to conditionally show things.

I'm not sure which ver

[2017-07-03 23:18] TopView commented on #71
Rob,

Ok thanks, but to edit the settings-schema.json, *which one do I edit?*
|I find these two versions on my system:|

|~/.local/share/cinnamon/applets/capture@rjanja/2.6/settings-schema.json|
|    ~/.local/share/cinnamon/applets/capture@rjanja/3.2/settings-schema.json
|
|When looking at the About dialog I see:

||    Desktop Capture v1.12
     capture@rjanja
     Screenshot and screencasting to

[2017-07-03 23:20] TopView commented on #71
ah, never mind, I see you have one for each different version of
Cinnamon that I have used.  I'll edit the 3.2 version.  Thanks!

On 07/03/2017 11:20 AM, Rob Adams wrote:

[2017-07-03 23:28] TopView commented on #71
Yes, the edit you suggested made the error go away.  Very good!  Thanks
again.

On 07/03/2017 11:20 AM, Rob Adams wrote:

[2017-07-04 04:28] rjanja commented on #71
Great, thanks for confirming the work-around! I'll try to push a fix this weekend or next.

Thanks for all the feedback!

[2017-07-04 08:45] NikoKrause commented on #70
Just upgraded to Cinnamon 3.4 and got the same error. Came here to fix it and now see it's already fixed.

[2017-07-05 18:00] rjanja commented on #71
I've pushed a fix as 1.13 - if you could find some time this week or next to give it a try I'd appreciate hearing whether it addresses the problem. Thanks much!

[2017-07-05 20:54] TopView commented on #71
Rob,

I wasn't sure how to upgrade as I haven't done that much.  I tried the
update button, but nothing.  So finally ended up uninstalling, and then
thought I might re-load, but then I couldn't find this in the list.
:-/  I finally went to your instructions at git to figure out how to
download and install it. Ok, that step done.

Now, unfortunately, there are still errors.

info:  7/05 13:37:34  C

[2017-07-06 00:16] rjanja commented on #71
Hi @TopView, sorry about that! I've pushed up another fix if you wouldn't mind trying again.

[2017-08-04 17:37] #71 closed

[2017-08-17 13:14] NikoKrause opened #72 "add option to hide the info for area and Cinnamon UI"
When you use `Area` and `Cinnamon UI` you get an info about how to use this.
It's annoying to always use an extra click to make the info disappear. Can you add an option to hide this info?

[2017-08-22 08:03] NikoKrause opened #73 "allow right click in CinnamonUI capture"
In Cinnamon UI capture mode it's possible to use the left click by holding SHIFT.
But the right click does not work. Is it possible to allow this too?

[2017-08-22 08:10] NikoKrause opened #74 "some JS warning"
I see some JS warnings in `xsession-errors`:

[code]
and
[code]

[2017-08-25 15:34] rjanja commented on #72
Thanks for the feedback. Yes, I can look into making this less annoying. The behavior of the two modes used to be different, but I felt the instructions could be too easily dismissed by accident so I added the requirement of a click.

I'll take a look at how it might work without dismissing instructions with a click in either mode.

[2017-08-25 18:47] #73 closed

[2017-08-25 20:23] #72 closed

[2017-08-25 20:25] rjanja commented on #72
Updated behavior:

* Area selection: instructions are dismissed as soon as mouse is clicked, and mouse clicking begins area selection.
* UI selection: instructions are dismissed as soon as the mouse pointer has traveled 200 pixels in any diretion

[2017-08-25 20:35] rjanja commented on #74
Which version of Cinnamon are you running? I'm not seeing the latter group of warnings in 3.2, so I suspect some Clutter method signatures have changed and we'll need a new multi-version target.

[2017-08-25 21:05] NikoKrause commented on #72
Cool. I'll try tomorrow.

[2017-08-25 21:08] NikoKrause commented on #74
I use Cinnamon 3.4. But I get those only when actually using the applet.

I try to figure out the steps to reproduce them. I'll let you know, when I have more info.

[2017-08-27 09:34] NikoKrause commented on #74
So looking at xsession-errors here:

* [This St.TextureCache.get_default().load_uri_sync method](https://github.com/rjanja/desktop-capture/blob/b5a74283460bc92baee8a82cb18b5257c2d4cb46/capture%40rjanja/3.2/applet.js#L1307-L1311) got 5 arguments but it expects 4 arguments. The last argument `scaleFactor` seems to be too much, according to [the comments of st_texture_cache_load_uri_sync](https://git

[2017-08-27 09:41] NikoKrause commented on #73
Thank you. This helps a lot.

[2017-08-27 09:42] NikoKrause commented on #72
Thank you. This feels much better now.

[2017-09-04 09:49] Roman-Skripka opened #75 "Imgur integration wizard doesn't work in Mint 18.2"
Updated to Mint 18.2 from 18.1 and applet stopped working, after reset can't link imgur account, nothing happens after clicking "Wizard: Connect to your account..." button. Other functionality and anonymous uploading seems to work well.
Cinnamon version is 3.4.6
Applet version is 1.14
![screenshot-area-2017-09-04-120615](https://user-images.githubusercontent.com/7115589/30019527-8ee8893e-9169-11e7

[2017-09-04 17:59] rjanja commented on #75
Hi, thanks for the feedback. It sounds like something has changed in Cinnamon 3.4, maybe a dependency was bumped.

I'm out of town for a week so I won't be able to review this until around 9/12, but I appreciate you filing a ticket.

[2017-09-06 13:05] NikoKrause commented on #75
Created a PR to fix the imgur wizard

[2017-09-06 13:28] Roman-Skripka commented on #75
@NikoKrause Thank you, worked like a charm

[2017-10-08 19:38] #74 closed

[2017-10-08 19:38] #75 closed

[2017-10-08 19:42] rjanja commented on #45
While I'd like to do this, keybindings can't be made conditional within the current Cinnamon Xlets Settings API, which means there'd either be a lot of extra keybinding options that aren't always used (and lead to confusion) or we'd need to move back to an external settings application. I'm not too excited about either of these options, so for now I'm just going to close this.

[2017-10-08 19:42] #45 closed

[2017-12-06 09:14] ademcaliskan opened #77 "Screen capture forces cinnamon failure"
While trying to take a screenshot wheter from current window or area forces cinnamon to go in fallback mode.

OS: Linux Mint 18 - 64Bit
Cinnamon-Version: 3.0.7

[ 3233.217104] cinnamon[3467]: segfault at 0 ip 00007f0a2214c0bd sp 00007ffda5d5a318 error 4 in libc-2.23.so[7f0a220a2000+1c0000]
[ 3303.271885] cinnamon[5609]: segfault at 0 ip 00007f57d1eee0bd sp 00007ffccc8ac5b8 error 4 in libc-2.23.so[

[2017-12-06 09:50] ademcaliskan commented on #77
Sorry, this seems to be a duplicate of existing closed issue #47
Must read before creating an issue.

I fixed this by updating cinnamon over ppa!

[2017-12-06 09:50] #77 closed

[2017-12-14 09:29] NikoKrause opened #78 "Feature Request: Add delay to popup menu"
Right now capture delay is in the settings.
It would be convenient to be able to change the delay in the applets popup itself.

A slider could be used.

[2017-12-14 15:45] rjanja commented on #78
Hi, thanks for the feedback!

There used to be a select menu but it was a bit awkward to use and only had a few durations to choose between. A slider might work fine for this.

What range of delays would be useful for you?

[2017-12-15 14:22] NikoKrause commented on #78
1-15 seconds? I can't think of a scenario where I need much more. Or maybe 1-30 seconds?

[2017-12-27 23:18] rjanja commented on #78
Hi,

I took a first pass at this while adding support for Cinnamon 3.6 in 774c60a420a785c94a68cfdb9a272d9eed3efb80. The slider moves freely between "off" and 10 seconds. A longer duration can be set in the applet's settings if desired.

Cheers!

![cinnamon-screenshot](https://user-images.githubusercontent.com/164802/34395882-23176db0-eb19-11e7-976f-7fc483b589b9.png)

[2017-12-27 23:18] #78 closed

[2019-11-11 14:35] einverne opened #81 "Not working on Cinnamon 3.8.9"
I cannot add applets on Cinnamon 3.8.9.

![Screenshot from 2019-11-11 22-34-41](https://user-images.githubusercontent.com/1962738/68594899-7b367b00-04d3-11ea-9e59-72cc42b18f90.png)

Although I have enable the applet, it did not show on the panel.

[2019-11-17 05:29] einverne commented on #81
My solution is to upgrade my Cinnamon to 4.2.4.

[2019-11-17 05:29] #81 closed, assigned to nobody

[2020-01-07 02:58] TopView opened #82 "issue updating after os update"
Hi, I love this applet and have relied upon it daily!

But I upgraded from Debian Stretch to buster recently, and just noticed that this applet wasn't showing an icon to click on.

So I opened up the 'Applets' Manager, and took a look around and updated what I could.

But I noticed that this applet wasn't listed in the list under the 'Download' tab.

It was however in the list under the 'Manage' t